{%extends "index.html"%}

{% load staticfiles %}

{% block content%}

<html>
<head>
    <meta charset="UTF-8">
    <title>Delete</title>

    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'assets/css/material-dashboard.css'%} " rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    <style>
        #delete_player_body
        {
        align :  center;
        margin-left : 100px;
        margin-right : -420px;
        margin-top : 100px;
        }
    </style>

</head>
<body>
    <form method="post">{% csrf_token %}
        <div class="wrapper" id="delete_player_body" align="center">
                <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header" data-background-color="orange">
                                        <h4 class="title" align="center">Player</h4>

                                    </div>
                                    <div class="card-content table-responsive">

                                        Are you sure you want to delete "{{ object }}" ?
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                         <a href="{% url 'netball:player_list' %}" class="btn btn-primary"style="">Cancel</a>

                                    </div>
                                </div>
                </div>
        </div>

</form>
</body>
</html>
{% endblock %}