{%extends "index.html"%}

{% load staticfiles %}

{% block content%}

<html>
<head>
    <meta charset="UTF-8">
    <title>New</title>

    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{% static 'assets/css/material-dashboard.css'%} " rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>


    <style>
        #player_body
        {
        align :  center;
        margin-left : 100px;
        margin-right : -420px;
        margin-top : 100px;
        }

        .form-group input[type=file] {
    opacity: 0.9;
    position: relative;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 100;

    </style>

    <script>
    $( document ).ready(function() {
            console.log( "in !" );

          $(function() {
             $( "#id_date_of_birth" ).datepicker({minDate:0,dateFormat:'mm/dd/yy'});
        });


        $( "#id_team" ).addClass('form-control');
        $( "#id_pool" ).addClass('form-control');
    });


  </script>

</head>
<body>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="wrapper" id="player_body" align="center">
        	<div class="col-lg-6 col-md-12">
							<div class="card">
	                            <div class="card-header" data-background-color="orange">
	                                <h4 class="title" align="center">Player</h4>

	                            </div>
	                            <div class="card-content table-responsive">
                                    <!--{{ form.as_p }}-->
                                    <!--<input type="submit" value="Save" class="btn btn-primary" />-->
                                    <fieldset>

                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">First Name :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.first_name}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Last Name :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.last_name}}</div>
                                            </div>
                                        </div>

                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Date Of Birth(MM/DD/YYYY):</label></div>
                                                 <div class="col-md-5">
                                                 {{form.date_of_birth}}</div>
                                            </div>
                                        </div><br>

                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Contact Number :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.contact_number}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Address :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.address}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Position :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.position}}</div>
                                            </div>
                                        </div>

                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Team :</label></div>
                                                 <div class="col-md-5" style="color:black;">
                                                 {{form.team}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                             <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label style="color:black;">Email :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.email}}</div>
                                            </div>
                                        </div>

                                        <div class="form-group" >
                                            <div class="col-md-10"align="center">
                                                 <div class="col-md-5">
                                                 <label  style="color:black">Image :</label></div>
                                                 <div class="col-md-5">
                                                 {{form.image}}</div>
                                            </div>
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>





                                    </fieldset>


                                </div>
                            </div>
            </div>
        </div>
</form>

</body>
</html>
{% endblock %}